body {padding-top: 50px;}
.enigma2-app .service-actionbar,
.tvheadend-app .channel-actionbar {margin-top: 10px;}
.enigma2-app .service-actionbar > .btn,
.tvheadend-app .channel-actionbar > .btn {margin-left: 10px;}
.enigma2-app .channel-item > .service-name,
.tvheadend-app .channel-item > .name {padding-left: 10px;}
.enigma2-app .channel-item > .number {margin-left: 10px;}
.enigma2-app .channel-map .channels-found,
.enigma2-app .channel-map .channel-mapped,
.enigma2-app .channel-map .no-channels-found {padding-top: 10px;}
